
#header-container {
	/*background:url(?holder.js/9999x9999/social) no-repeat; */
	background: #8892BF;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: solid 5px #4F5B93;
	
}
#footer-container {
	/*background:url(?holder.js/9999x9999/social) no-repeat; */
	background: #8892BF;
	color: white;
	
}
a.footer-link {
	text-decoration: none;
	color: white;
}
.img-estados {
	height: 50px;
	margin-right: 10px;
}
.box-estados {

}
.box-estados > .panel > a {
	text-decoration: none;
}
.titulo-estados {
	margin-top: 10px;
}

.foto-colaborador {
	width: 150px;
}

.foto-partners {
	height: 75px;
	text
}